<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2" android:versionName="2.0beta" package="net.petrjanousek.DVBTTelevizor" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="30" />
	<application android:label="DVBTTelevizor" android:icon="@drawable/icon" android:requestLegacyExternalStorage="true"></application>
  <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>